---
layout: default
title: Home
---

<video autoplay muted loop id="index-video">
  <source src="{{site.baseurl}}/vid/cans.mp4" type="video/mp4">
</video>


<section class="index-video-container">
	<div class="has-text-centered has-text-white">
		<h1 class="hero-title has-text-weight-bold">Firefly AR</h1>
    <img class="img-half-centered" src="{{site.baseurl}}/img/firefly-gradient.png" alt="Firefly Logo" / style="max-width: 15%;">
    <p>
      <a class="button is-white is-large" href="{{site.baseurl}}/coming-soon.html">
        <span class="icon"><span class="fab fa-app-store"></span></span>
        <span> Download</span>
      </a>
      <br />
      <br />
      {% if site.facebook_username %}
      <a class="button is-white" href="https://www.facebook.com/{{site.facebook_username}}/"><span class="fab fa-facebook"></span></a>
      {% endif %}
      {% if site.twitter_username %}
      <a class="button is-white" href="https://twitter.com/{{site.twitter_username}}"><span class="fab fa-twitter"></span></a>
      {% endif %}
      {% if site.instagram_username %}
      <a class="button is-white" href="https://instagram.com/{{site.instagram_username}}"><span class="fab fa-instagram"></span></a>
      {% endif %}
    </p>
    <p>
	    <span class="fa fa-chevron-down fa-3x animated-pulse"></span>
    </p>
	</div>
</section>

<section class="hero is-info">
  <div class="hero-body">
  	<div class="container">
  		<div class="columns is-vcentered">
        <div class="column">
  				<img class="image-half-centered" src="{{site.baseurl}}/img/iphone-x.png"/>
  			</div>
  			<div class="column">
  				<h1 class="hero-title has-text-weight-bold">Firefly AR</h1>
  				<h2 class="is-size-3">The biggest game. <b>Ever.</b></h2>
          <hr />
          <p>
            Every week, all across the world, we run an episode of Firefly, an augmented reality experience embedded into the geography and culture of your city. It could be a murder mystery, a missing persons case or aliens attacking the financial district. Each episode will test your ingenuity and knowledge of your city. There’s also prizes and bragging rights up for grabs.
          </p>
          <br />
          <br />
          <a class="button is-white" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fa fa-dice"></span></span>
            <span> Available Games</span>
          </a>
          <a class="button is-primary" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fab fa-app-store"></span></span>
            <span> Download Firefly on iOS</span>
          </a>
  			</div>
  		</div>
    </div>
	</div>
</section>

<section class="hero is-dark toronto-skyline-background">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="hero-title has-text-weight-bold">Explore!</h1>
          <h2 class="is-size-3">Your city will never look the same.</h2>
          <hr />
          <p>
            Our team of game designers, writers and graphic artists will challenge you with clues and mysteries that bring you to the most interesting corners of your city. With our technology, anything could be anywhere. Seriously.
          </p>
          <br />
          <a class="button is-white" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fa fa-city"></span></span>
            <span> Cities</span>
          </a>
          <a class="button is-white" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fa fa-dice"></span></span>
            <span> Games</span>
          </a>
        </div>
        <div class="column">
          <img class="image" src="{{site.baseurl}}/img/mapbox-temp.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-info">
  <div class="hero-body">
  	<div class="container">
  		<div class="columns is-vcentered">
        <div class="column">
          <video autoplay muted loop>
            <source src="{{site.baseurl}}/vid/coin.mp4" type="video/mp4">
          </video>
        </div>
        <div class="column">
          <h1 class="hero-title has-text-weight-bold">Win.</h1>
          <h2 class="is-size-3">Your friends will be jealous.</h2>
          <hr />
          <p>
            Everyone who completes each week’s episode shares a prize pool of a thousand dollars. Cash. There might also be secret prizes for the first few winners. You’ll have to play to find out.
          </p>
          <br />
          <a class="button is-white" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fa fa-trophy"></span></span>
            <span> Prizes</span>
          </a>
          <a class="button is-primary" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fab fa-app-store"></span></span>
            <span> Download</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="hero-title has-text-weight-bold">Interested?</h1>
          <h2 class="is-size-3">We are too!</h2>
          <hr />
          <p>
            Take us for a spin. You have nothing to lose, and tons of money to win.
          </p>
          <br />
          <a class="button is-primary is-large" href="{{site.baseurl}}/coming-soon.html">
            <span class="icon"><span class="fab fa-app-store"></span></span>
            <span> Download</span>
          </a>
        </div>
        <div class="column">
          <video class="image-half-centered" autoplay muted loop>
            <source src="{{site.baseurl}}/vid/mario.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-info">
  <div class="hero-body">
  	<div class="container has-text-centered">
      <h1 class="is-size-2">Keep in touch.</h1>
      <h2>Because we <span class="fa fa-heart animated-pulse" style="color:red"></span> you.</h2>
      <p>And so you'll be the first to know when new games, features, and cities join the Firefly experience.</p>
      <br />
      <div class="field has-addons image-half-centered">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="jane.doe@gmail.com">
        </div>
        <div class="control">
          <a class="button is-primary">
            Subscribe
          </a>
        </div>
      </div>
      <hr />
      <a class="button is-white is-large" href="{{site.baseurl}}/coming-soon.html">
        <span class="icon"><span class="fab fa-app-store"></span></span>
        <span> Download</span>
      </a>
    </div>
  </div>
</section>
