<footer class="footer">
  <div class="container">
    <h1 class="title is-size-3">Firefly AR</h1>
    <p>Making treasure hunts fun again.</p>
    <hr />
    <div class="columns">
      <div class="column">
        <ul>
          <li><span class="fa fa-fw fa-envelope"></span> 123, Lorem Ipsum Drive</li>
          <li><span class="fa fa-fw fa-map-pin"></span> Toronto, Canada</li>
          <li><span class="fa fa-fw fa-at"></span> hello@fireflyar.io</li>
        </ul>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <ul>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Games</a>
              </li>
              <li>
                <a href="#">Cities</a>
              </li>
              <li>
                <a href="#">Brands</a>
              </li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li>
                <a href="#">Jobs</a>
              </li>
              <li>
                <a href="#">Report a Bug</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Legal</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <p class="has-text-centered is-size-3">
      <a class="has-text-black" href="#"><span class="fab fa-facebook"></span></a>
      <a class="has-text-black" href="#"><span class="fab fa-twitter"></span></a>
      <a class="has-text-black" href="#"><span class="fab fa-instagram"></span></a>
    </p>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>
<script src="{{site.baseurl}}/js/anime.min.js?v2.2.0"></script>
<script defer src="{{site.baseurl}}/js/fontawesome-all.min.js?v5.3.1"></script>
