<footer class="footer">
  <div class="container">
    <h1 class="title is-size-3">Firefly AR</h1>
    <p>Making treasure hunts fun again.</p>
    <hr />
    <div class="columns">
      <div class="column">
        <ul>
          <li><span class="fa fa-fw fa-map-pin"></span> Toronto, Los Angeles, and Singapore</li>
          <li><span class="fa fa-fw fa-at"></span> hello@fireflyar.io</li>
        </ul>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <ul>
              <li>
                <a href="{{site.baseurl}}/index.html">Home</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">About</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/games.html">Games</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Cities</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Brands</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Team</a>
              </li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Jobs</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Press Kit</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Report a Bug</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Privacy Policy</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/coming-soon.html">Legal</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <p class="has-text-centered is-size-3">
      {% if site.facebook_username %}
      <a class="has-text-black" href="https://www.facebook.com/{{site.facebook_username}}/"><span class="fab fa-facebook"></span></a>
      {% endif %}
      {% if site.twitter_username %}
      <a class="has-text-black" href="https://twitter.com/{{site.twitter_username}}"><span class="fab fa-twitter"></span></a>
      {% endif %}
      {% if site.instagram_username %}
      <a class="has-text-black" href="https://instagram.com/{{site.instagram_username}}"><span class="fab fa-instagram"></span></a>
      {% endif %}
    </p>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>
<script src="{{site.baseurl}}/js/anime.min.js?v2.2.0"></script>
<script defer src="{{site.baseurl}}/js/fontawesome-all.min.js?v5.3.1"></script>
